* {
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: #a4b0be;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.BattleZoneDive {
  background-color: black;
  position: absolute;
  width: 1120px;
  height: 576px;
  opacity: 0;
  pointer-events: none;
}

.main {
  display: inline-block;
  position: relative;
  
}

.attack {
  background-color: #686de0;
  border-top: 6px solid rgb(58, 53, 53);
  width: 1120px;
  height: 115px;
  position: absolute;
  bottom: 4px;
  display: flex;
  bottom: 0;
}
div h1 {
  margin: 0;
}
.attack-option {
  width: 66.66%;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  border-left: 4px solid rgb(107, 93, 93);
}
.attack-option button {
  border: 0;
  background-color: #f6e58d;
  cursor: pointer;
  transition: all 0.4s;
  
}
.attack-option :nth-child(1){
  border-right: 4px solid rgb(107, 93, 93);
}
.attack-option button:hover {
  background-color: #eee8cb;
}
.Enemy-status , .champion-status {
  background-color: #ffff;
  position: absolute;
  border: 3px solid black;
  border-radius: 10px;
  top: 15rem;
  right: 55rem;
  width: 200px;
  height: 70px;
}
.Enemy-status {
  top: 3rem;
  right: 25rem;
}
.champion-statu {
  background-color: #ffff;
  position: absolute;
  border: 3px solid black;
  border-radius: 10px;
  width: 200px;
  height: 70px;
}
h3 {
  margin-left: 10px;
}
.helth-bar {
  position: relative;
  margin: auto;
  width: 180px;
  height: 5px;
  background-color: gray;

}
.enemy-helth  {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #27ae60;
}
.champion-helth  {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #27ae60;
}

.main-section {
  z-index: 10;
}
.dialoguebox {
  padding: 10px;
  position: absolute;
  width: 65.66%;
  background-color: #f6e58d;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  transition: all 0.4s;
}
.dialoguebox:hover {
  background-color: #eee8cb;
}